.login-backgroundColor{
    -fx-background-color: linear-gradient(to right bottom,#F9484A, #FBD72B);
}

.dashboard-backgroundColor{
    -fx-background-color: #FFB229;
}

.login-button{
    -fx-background-color: #FF8008;
}

.textfield{
    -fx-prompt-text-fill: black;
}
.note-border {
    -fx-border-color: black;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-style: solid;
}